table.table
                    thead.thead-inverse
                    tr
                        th #
                        th Добавлена
                        th Источник
                        th Страницы
                        th Комметарий
                        th Скриншот
                        th Дата реагирования
                        th Статус
                        th Диалог
