html
    include includes/head
    title Добавление правки
body
if (session.admin)
    .container
        .row
            .col-md-12
                include includes/header  
            .col-md-8
                a(href='/main')
                    | <-- На главную
                br
                br
                form(method='post', action='/edit/add', enctype='multipart/form-data', name='contact_form', onsubmit='return validate_form();')
                    | Получатель 
                    b 
                        |Da-strateg
                    span(class='zvezdockha') *
                    br
                    input(type='text', name='source_company', placeholder='Источник', title='Название подразделения') 
                    span(class='zvezdockha') *
                    br
                    input(type='text', name='page', placeholder='Страницы') 
                    span(class='zvezdockha') *
                    br
                    textarea(name='comment', rows='8', cols='80', placeholder='Фрагмент текста')
                    br
                    textarea(name='chat', rows='4', cols='80', placeholder='Замечание')
                    span(class='zvezdockha') *
                    br
                    input(type='file', name='screen')                 
                    input(type='submit')
            .col-md-4
                //инструкции
                p
                    ul
                        li 
                            |«Источник» – название подразделения или имя человека, давшего замечание;                
                        li
                            | «Страницы» – номер страницы, к которой дается замечание (можно указывать диапазоном: например, 23-25);
                        li
                            | «Фрагмент текста» – копия фрагмента текста, к которому дается замечание;
                        li
                            | «Замечание» – описание того, что необходимо исправить;
                        li
                            | Кнопка «Обзор» – скриншот фрагмента текста, к которому дается замечание.
                    | Поле «Фрагмент текста» и прикрепление скриншота необязательные и заполняются по необходимости, чтобы конкретизировать «Замечание» и облегчить поиск необходимого фрагмента текста.
                    br
                    | После заполнения всех полей необходимо нажать кнопку «Отправить запрос», после чего правка будет внесена в базу со статусом «На рассмотрении».
                    br
                    | Правки типа опечатка можно вводить сразу по несколько в одной записи базы данных, смысловые правки необходимо вводить поштучно.
            .col-md-12
                p
                    | Добавляя скриншот и фрагмент текста, вы существенно ускоряете процесс исправления замечания.
    script(src='/js/editFront.js')