a(href='/main')
    | <-- На главную

h3 Create admin
form(method='post', action='/create/admin')
    input(type='text', name='username')
    input(type='password', name='password')
    input(type='submit')

h3 Create user
form(method='post', action='/create/user')
    input(type='text', name='username')
    input(type='password', name='password')
    input(type='submit')