//шапка (кол-во правок по статусам, новые комментарии, выход)


//поле поиска


//функциональные кнопки (добавить юзера, добавить правку)


//отображение таблиц

html
    include includes/head
    title Главная
body
if (session.admin || session.user)
     .container
        .row
            .col-md-12
                include includes/header       
            .col-md-3
                .search-block
                    .input-append
                        input(type='text', class='span2 search-query', placeholder='Источник', id='search-input')
                    br
                    .input-append
                        input(type='text', class='span2 search-query', placeholder='Страница', id='page-input')
                    br
                    button.btn.btn-default(onclick='getSearch()') Поиск
                    | &nbsp &nbsp
                    button.btn.btn-default(onclick='getDefault()') Сброс
                br
                //form(action='/create')
                    button.btn.btn-default.btn-mine Добавить пользователя
                if (session.admin)
                    form(action='/add_edit')
                        button.btn.btn-success.btn-mine Добавить правку
            .col-md-9
                table.table
                    thead.thead-inverse
                    tr
                        th #
                        th 
                            a(href='#' onclick='sortDate()') Добавлена
                        - if(session.admin)
                            th Исполнитель
                        - if(session.user)
                            th Отправитель
                        th 
                            a(href='#' onclick='sortSource()') Источник
                        th 
                            a(href='#' onclick='sortPages()') Страницы
                        //th Комметарий
                        //th Скриншот
                        th Дата реагирования
                        th Статус
                        th Диалог
                    tbody(id='sTable')
                        
                                    tr
                div(id='pagination')
                                
include includes/footer
                                



